#mapid { height: 555px; width: 980px; margin: auto; }


.btnwa {
    border: none;
    background: transparent;
    z-index: 999998;
    transform: translateZ(0px);
    position: fixed;
    opacity: 1;
    height: 50px;
    margin: 10px 20px;
    right: 130px;
    bottom: 0px;
    display: none;
}

    .btnwa a {
        height: 49px;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        border: 1px solid transparent;
        border-radius: 44px;
        background-color: rgb(7, 94, 84);
        color: rgb(255, 255, 255);
        font-family: "Roboto", Verdana, Arial;
        font-size: 13px;
        line-height: 0;
        letter-spacing: 0.035em;
        padding: 8px 13px;
        text-decoration: none;
        -webkit-font-smoothing: initial;
    }

svg:not(:root) {
    overflow: hidden;
}

svg:not(:root) {
    overflow: hidden;
}

svg:not(:root) {
    overflow: hidden;
}

svg {
    max-height: 100%;
}

@media screen and (max-width: 736px) {
    #mapid { height: 550px; width: 450px; margin: auto; }
}